form {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.lang-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 25px 0;
}

button {
    margin: 15px;
}

#content {
    font-size: 2rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#rule {
    font-size: 1.2rem;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 1024px) {
    form {
        flex-direction: column;
    }
}
