.center-list {
    padding: 65px 0 15px 0;
}

.center-list li {
    margin: 0 0 20px 0;
}

.center-list a {
    display: block;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.4rem;
    font-weight: 500;
}

.mbl-login input {
    display: block;
    margin: 4px auto;
    padding: 3px;
}
